@import "tailwindcss";

@theme {
  /* This is the missing link for Tailwind v4 */
  --variant-dark: .dark &;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
  }

  .dark {
    --background: #030712;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  @apply transition-colors duration-300;
}